header {
    text-align: center; /* Centra el texto */
    background-color: #2f5263; /* Color de fondo */
    color: rgba(200, 209, 218, 0.993); /* Color del texto */
    padding: 10px 0; /* Espaciado interior (arriba y abajo) */
}

/* Estilos para los enlaces del menú */
nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}

nav ul li {
    display: inline; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espacio entre elementos /inicio7quien soy yo/proyecto*/
}

nav ul li a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: rgba(200, 209, 218, 0.993); /* Color del texto */
    font-size: 20px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    transition: all 0.3s ease; /* Efecto de transición */
}

nav ul li a:hover {
    color: #2da7ac; /* Cambia el color al pasar el ratón */
}